#mapping table {
  
  border: solid 1px #ccc;
  font-size: 0.8em;
}
#mapping thead { 
 background-color: lightgray;
color: red;

}

#mapping td {
 
  vertical-align: baseline;
  
}
#mapping td:nth-child(1)  {
  
 font-variant: small-caps; 
}

 #mapping td:nth-child(4) {
  
 font-variant: small-caps; 
}

 #mapping td:nth-child(6) {
  
 font-variant: small-caps; 
}
