#mapping table {
  
  font-size: 0.8em;
}
#mapping thead { 

color: red;

}
#mapping table td:nth-child(1),  #mapping table td:nth-child(4), #mapping table td:nth-child(6),  {
  
 font-variant: small-caps; 
}
