@import url(//fonts.googleapis.com/css?family=Montserrat|Esteban);

body {
 font-family:  'Montserrat', sans-serif;
}

blockquote {
 margin-left: -.095em;
 font-family:  'Esteban', serif;
 font-style: italic;
 border-style: none; !important
}

blockquote:before {
    display: block;
    height: 0;
    content: "“";   
    margin-left: -0.2em;
    font: italic 400%/1 Esteban, serif;
    color: #999;
}

img {
  max-width: 100%;
}

table, td, th {
  cell-padding: 0px;
  cell-spacing: 0px;
  border-color: #eee; 
}

thead {
   border-color: #eee;
  background-color: #ccc;
}
