img {
  max-width: 100%;
}

table, td, th {
  cell-padding: 0px;
  cell-spacing: 0px;
  border-color: #000; 
}


thead {
  border-color: #eee;
  background-color: #ccc;
  color: white;
  font-weight: bold;
}

