img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

p {
 text-align: justify;  
}

.logo { 
  float: none !important;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

th, td {
  padding: 5px 20px 5px 20px;
  height: 30px;
  border: solid 1px black;
}

table {
  width: 100%; 
  border-collapse: collapse; 
  border: solid 1px black;
}

thead {
  background-color: #888;
  color: white;
  font-weight: bold;
}

#domeinwaarden thead, 
#objecttypen thead, 
#attributen-en-associaties thead,
#afkortingen thead {
  background-color: #fff;
  color: black;  
}

#domeinwaarden th, #objecttypen th, #attributen-en-associaties thead {  
  font-weight: normal !important;
}

#afkortingen th, #afkortingen td, #afkortingen table {
 border: none;   
 font-weight: normal;
}
